body { 
    background-color: #89CE94;
    font-family: 'Teko', sans-serif;
}
.formulario {
    font-size: 50px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    border-style: dashed;
}

.boton {
    border-radius: 50px;

}
.botonDos {
    border-radius: 5px;
    text-align:center;
}

.otrosPerfiles {
    text-align: center;
}